alembic==0.9.6
autoenv==1.0.0
certifi==2016.2.28
click==6.7
Flask==0.12.2
Flask-API==1.0
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
-e git+https://github.com/stevensallright/flask_tutorial.git@502173968d175ee30a265b8b3e8c332bea4b393f#egg=flaskr&subdirectory=flaskr
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.2.0
Werkzeug==0.14.1
